* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

:root {
    --buttonbgcolor: hsl(0, 0%, 80%);
    --buttonbcolor: hsl(0, 0%, 50%);
}

body {
    background-image: url(tictactoebg.png);
    text-align: center;
    box-sizing: border-box;
    margin-top: 75px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* .bgimage {
    width: 100vh;
    height: 100vh;
    opacity: 0.3;
} */

.game-name {
    font-style: italic;
}

.start-button, .restartb {
    height: 40px;
    max-width: 140px;
    margin: 50px auto 0 auto;
    padding: 2.5px 5px 5px 5px;
    font-size: 1.5rem;
    border: 1px solid var(--buttonbcolor);
    border-radius: 10px;
    background-color: var(--buttonbgcolor);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
}

h2, h1 {
    font-size: 2rem;
    margin-bottom: 100px;
}

#choices {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.choice {
    font-size: 5rem;
    border: 2px solid black;
    height: auto;
    width: 40%;
    background-color: white;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: 0;
    gap: 10px;
    padding-top: 20px;
    width: 30%;
    margin: 0 auto 0 auto;
}

input[type=text] {
    height: 40px;
    font-size: 1.1rem;
    border: 1px solid var(--buttonbcolor);
    color: hsl(0, 0%, 25%);
    border-radius: 5px;
    padding: 0 10px 0 10px;
}

input[type=text]:focus-visible {
    outline: none;
    border: 1px solid black;
    font-family: inherit;
}

legend {
    font-size: 2rem;
    font-family: inherit;
}

.continue {
    background-color: var(--buttonbgcolor);
    border: 1px solid var(--buttonbcolor);
    padding: 2.5px 10px 5px 10px;
    border-radius: 10px;
    margin: 0 auto 0 auto;
    font-size: 1.5rem;
}

.container {
    width: 300px;
    height: 300px;
    background-color: black;
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 5px;
}


.box {
    width: auto;
    height: auto;
    background-color: hsl(0, 0%, 100%);
    border: none;
    color: black;
    font-weight: bolder;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.draw > p {
    margin-top: 50px;
    font-size: 1.7rem;
    font-weight: 600;
}

